body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97.5vh;
    background: linear-gradient(45deg, rgb(0, 42, 70),rgb(0, 131, 85));
    font-family: sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.666);
}

h1 {
    position: absolute;
    top:10px;
    left:30px;
    font-size: 20px;
    color: rgb(60, 255, 0);
}

#texte {
    width: 40vw;
    padding: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color:rgba(255, 146, 146, 0.053);
    text-align: center;
    box-shadow: 5px 5px 25px rgba(92, 58, 58, 0.286);

}


button {
    margin-top: 25px;
    border-radius: 20px 10px;
    border: none;
    padding: 10px 20px;
    background-color:rgba(255, 146, 146, 0.053);
    color: rgba(165, 137, 137, 0.666);
}

button:hover {
    background-color:rgba(0, 59, 6, 0.373);
    box-shadow: 2px 0px 15px rgba(54, 34, 34, 0.229);
    color: rgb(60, 255, 0);
    margin-left:10px;
}