* {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}

#boss {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border: solid pink;
}

#vie_reste_boss {
    margin-top:10px;
}

#input {
    padding:10px;
    width: 200px;
    margin-top: 10px;
    border: solid;
}

#input button {
    margin-top: 10px;
}

#equipe {
    padding: 10px;
    height:200px;
    width: 200px;
    margin-top: 10px;
    border: solid green;
}


#histoire {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border: solid blue;
}

#histoire button {
    margin-top: 10px;
}